@font-face {
  font-family: "iconfont"; /* Project id 3388416 */
  src: url('//at.alicdn.com/t/font_3388416_g334zssyf9b.woff2?t=1652104395260') format('woff2'),
       url('//at.alicdn.com/t/font_3388416_g334zssyf9b.woff?t=1652104395260') format('woff'),
       url('//at.alicdn.com/t/font_3388416_g334zssyf9b.ttf?t=1652104395260') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e611";
}

.icon-weibo:before {
  content: "\e882";
}

.icon-wechat:before {
  content: "\e883";
}
