@font-face {
  font-family: "iconfont"; /* Project id 3391417 */
  src: url('//at.alicdn.com/t/font_3391417_80cxkkqgl68.woff2?t=1652256688443') format('woff2'),
       url('//at.alicdn.com/t/font_3391417_80cxkkqgl68.woff?t=1652256688443') format('woff'),
       url('//at.alicdn.com/t/font_3391417_80cxkkqgl68.ttf?t=1652256688443') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quit:before {
  content: "\e6aa";
}

.icon-notice:before {
  content: "\e709";
}

.icon-wechat:before {
  content: "\e600";
}

.icon-phone:before {
  content: "\e602";
}

.icon-search:before {
  content: "\e648";
}

